@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --darkBlue: #011c40;
  --blue: #415570;
  --lightBlue: #7f8d9f;
  --yellow: #f2e1ac;
  --mediumYellow: #f9ecc6;
  --lightYellow: #fff6e0;
  --gray: #333333;
  --lightGreen: #71a66f;
  --lightOrange: #f2b885;
  --orange: #f26d3d;
  --darkOrange: #7c2100;
  --white: #ffffff;
  --black: #020202;
  --lighterBlack: #2f2e2e;
  --transparent: rgba(255, 255, 255, 0);
  --transparentWhite70: rgba(255, 255, 255, 0.7);
  --transparentBlack70: rgba(2, 2, 2, 0.7);
  --darkBlueLightBlue1: #7f8d9f;
  --darkBlueLightBlue2: #718094;
  --darkBlueLightBlue3: #63748a;
  --darkBlueLightBlue4: #55677f;
  --darkBlueLightBlue5: #475b75;
  --darkBlueLightBlue6: #394e6a;
  --darkBlueLightBlue7: #2b4260;
  --darkBlueLightBlue8: #1d3555;
  --darkBlueLightBlue9: #0f294b;
  --darkBlueLightBlue10: #011c40;
  --value1: var(--darkBlueLightBlue1);
  --value2: var(--darkBlueLightBlue2);
  --value3: var(--darkBlueLightBlue3);
  --value4: var(--darkBlueLightBlue4);
  --value5: var(--darkBlueLightBlue5);
  --value6: var(--darkBlueLightBlue6);
  --value7: var(--darkBlueLightBlue7);
  --value8: var(--darkBlueLightBlue8);
  --value9: var(--darkBlueLightBlue9);
  --value10: var(--darkBlueLightBlue10);
}
.light {
  --primary: var(--white);
  --secondary: var(--darkBlue);
  --secondaryLight: var(--blue);
  --secondaryLighter: var(--lightBlue);
  --accent: var(--yellow);
  --accentLight: var(--lightYellow);
  --text: var(--gray);
  --textInv: var(--white);
  --success: var(--lightGreen);
  --warn: var(--orange);
  --category1: var(--lightOrange);
  --category2: var(--lightBlue);
  --transparent: var(--transparent);
  --transparent70: var(--transparentWhite70);
}
.dark {
  --primary: var(--black);
  --secondary: var(--yellow);
  --secondaryLight: var(--mediumYellow);
  --secondaryLighter: var(--lightYellow);
  --accent: var(--darkBlue);
  --accentLight: var(--blue);
  --text: var(--white);
  --textInv: var(--gray);
  --success: var(--lightGreen);
  --warn: var(--orange);
  --category1: var(--lightOrange);
  --category2: var(--lightBlue);
  --transparent: var(--transparent);
  --transparent70: var(--transparentBlack70);
}
