@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --darkBlue: #011c40;
  --blue: #415570;
  --lightBlue: #7f8d9f;
  --yellow: #f2e1ac;
  --mediumYellow: #f9ecc6;
  --lightYellow: #fff6e0;
  --gray: #333333;
  --lightBlue: #b5d5ff;
  --lightGreen: #71a66f;
  --lightOrange: #f2b885;
  --orange: #f26d3d;
  --darkOrange: #7c2100;
  --white: #ffffff;
  --black: #020202;
  --lighterBlack: #2f2e2e;
  --transparent: rgba(255, 255, 255, 0);
  --transparentWhite70: rgba(255, 255, 255, 0.7);
  --transparentBlack70: rgba(2, 2, 2, 0.7);
}
.light {
  --primary: var(--white);
  --secondary: var(--darkBlue);
  --secondaryLight: var(--blue);
  --secondaryLighter: var(--lightBlue);
  --accent: var(--yellow);
  --accentLight: var(--lightYellow);
  --text: var(--gray);
  --textInv: var(--white);
  --success: var(--lightGreen);
  --warn: var(--orange);
  --category1: var(--lightOrange);
  --category2: var(--lightBlue);
  --transparent: var(--transparent);
  --transparent70: var(--transparentWhite70);
}
.dark {
  --primary: var(--black);
  --secondary: var(--yellow);
  --secondaryLight: var(--mediumYellow);
  --secondaryLighter: var(--lightYellow);
  --accent: var(--darkBlue);
  --accentLight: var(--blue);
  --text: var(--white);
  --textInv: var(--gray);
  --success: var(--lightGreen);
  --warn: var(--orange);
  --category1: var(--lightOrange);
  --category2: var(--lightBlue);
  --transparent: var(--transparent);
  --transparent70: var(--transparentBlack70);
}
